<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.IBoardLikeDao">

	<!-- 좋아요 -->
	<insert id="likeInsert" parameterType="java.util.HashMap">
		insert into tripBoardLike
		values(#{num}, #{userID})
	</insert>

	<!-- 좋아요취소 -->
	<delete id="likeDelete" parameterType="java.util.HashMap">
		delete from tripboardlike
		where num = #{num} and userID = #{userID}
	</delete>

</mapper>