<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="dao.IBoardDao">

	<insert id="insertBoard" parameterType="java.util.HashMap">
		insert into tripboard
		values(0, #{userID}, #{nickname}, #{title}, #{content}, now(), now(), 1, 0)
	</insert>
	
	<update id="updateBoard" parameterType="java.util.HashMap">
		update tripboard
		set title = #{title}, content = #{content}, uDate = now()
		where num = #{num}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		delete from tripboard
		where num = #{num}
	</delete>
	
	<select id="selectOne" parameterType="int" resultType="java.util.HashMap">
		select num, userID, nickname, title, content, DATE_FORMAT(wDate, '%Y-%m-%d') 'wDate', uDate, views, likeCount
		from tripboard
		where num = #{num}
	</select>
	
	<select id="selectAll" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select num, userID, nickname, title, content, DATE_FORMAT(wDate, '%Y-%m-%d') 'wDate', uDate, views, likeCount
		from tripboard
		<if test="sort == 'new'.toString()">
			order by num desc
		</if>
		<if test="sort == 'like'.toString()">
			order by likeCount desc
		</if>
		<if test="sort == 'views'.toString()">
			order by views desc
		</if>
  		limit #{start}, 15
	</select>
	
	<!-- 게시글 개수 -->
	<select id="count" resultType="int">
		select count(*)
		from tripboard
	</select>

	<!-- 조회수 -->
	<update id="views">
		update tripboard
		set views = views + 1
		where num = #{num}
	</update>

	<!-- 조회수 -->
	<select id="viewsCount" resultType="int" parameterType="int">
		select views
		from tripboard
		where num = #{num}
	</select>
	
	<!-- 검색 -->
	<select id="selectSearch" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select num, userID, nickname, title, content, DATE_FORMAT(wDate, '%Y-%m-%d') 'wDate', uDate, views, likeCount
		from tripboard
		where 1 = 0
		<if test="board == 'title'.toString()">
			OR
			title LIKE '%${search}%'
		</if>
		<if test="board == 'content'.toString()">
			OR
			content LIKE '%${search}%'
		</if>
		<if test="board == 'nickname'.toString()">
			OR
			nickname LIKE '%${search}%'
		</if>
		<if test="boardList == 'TC'.toString()">
			OR
			title LIKE '%${search}%'||content LIKE '%${search}%'
		</if>
		order by num desc 
  		limit #{start}, 15
	</select>

	<!-- 검색 개수 -->
		<select id="searchCount" resultType="int" parameterType="java.util.HashMap">
		select count(*)
		from tripboard
		where 1 = 0
		<if test="board == 'title'.toString()">
			OR
			title LIKE '%${search}%'
		</if>
		<if test="board == 'content'.toString()">
			OR
			content LIKE '%${search}%'
		</if>
		<if test="board == 'nickname'.toString()">
			OR
			nickname LIKE '%${search}%'
		</if>
		<if test="boardList == 'TC'.toString()">
			OR
			title LIKE '%${search}%'||content LIKE '%${search}%'
		</if>
		order by num desc 
  		limit #{start}, 15
	</select>

	<!-- 좋아요 카운트 업 -->
	<update id="likeCountUp" parameterType="int">
		update tripboard
		set likeCount = likeCount + 1
		where num = #{num}
	</update>
	
	<!-- 좋아요 카운트 다운 -->
	<update id="likeCountDown" parameterType="int">
		update tripboard
		set likeCount = likeCount - 1
		where num = #{num}
	</update>

	<!-- 좋아요 개수 -->
	<select id="likeCount" parameterType="int" resultType="int">
	  select likeCount
	  from tripboard
	  where num = #{num}
   </select>


</mapper>