<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="dao.IReservationDao">
  
  <select id="insertReservation" parameterType="java.util.HashMap">
  INSERT INTO lodgingreserveinfo
  VALUES (#{userID}, #{contentID}, #{contentTypeID}, now(), #{adult}, #{kid}, #{price}, #{startDate}, #{endDate}, #{roomName})
  </select>
  
  </mapper>