<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="dao.IReviewDao">
  <select id="topSelectFestival" resultType="java.util.HashMap">
  SELECT contentID,contentTypeID
  FROM review
  WHERE contentTypeID = '12' or contentTypeID = '14' or contentTypeID = '15' or contentTypeID = '28'
  GROUP BY contentID 
  ORDER BY AVG(score) DESC 
  LIMIT 6;
  </select>
   <select id="topSelectCountry" resultType="java.util.HashMap">
  SELECT contentID,contentTypeID
  FROM review
  WHERE contentTypeID = '32'
  GROUP BY contentID 
  ORDER BY AVG(score) DESC
  LIMIT 6;
  </select>
  
  <select id="topSelectRestaurant" resultType="java.util.HashMap">
  SELECT contentID,contentTypeID
  FROM review
  WHERE contentTypeID = '39'
  GROUP BY contentID 
  ORDER BY AVG(score) DESC
  LIMIT 6;
  </select>
  
  
  <select id="reviewList" resultType="java.util.HashMap" parameterType="String">
  SELECT num, nickname, content, DATE_FORMAT(writeDate, '%Y-%m-%d') 'writeDate', score, likeCount, userID, contentID, contentTypeID
  FROM review WHERE contentID = #{contentID}
  </select>
  
   <select id="reviewNum" resultType="java.util.HashMap" parameterType="String">
  SELECT num,nickname,content,writeDate,score,likeCount,userID,contentID,contentTypeID
  FROM review WHERE num=#{num}
  </select>
  
  <insert id="insertReview" parameterType="java.util.HashMap">
  INSERT INTO review 
  VALUES (0,#{userID},#{contentID},#{contentTypeID},#{nickname},#{content},
  			now(),#{score},0)
  </insert>
  
  <delete id="deleteReview" parameterType="java.util.HashMap">
  DELETE FROM review WHERE num = #{num} 
  </delete>
  
  <update id="updateReview" parameterType="java.util.HashMap">
  UPDATE review SET content=#{content} WHERE num = #{num}	
  </update>
  
  <update id="likeSum" parameterType="String" >
  	UPDATE review
  	 SET likeCount = likeCount +1
  	  WHERE num = #{num}  
  </update>
  
  <update id="likeMinus" parameterType="String" >
  	UPDATE review
  	 SET likeCount = likeCount -1
  	  WHERE num = #{num}
  </update>
  
  <insert id="likeInsert" parameterType="java.util.HashMap" >
  INSERT INTO userLikeContent
  VALUES (#{userID}, #{likeCheck))
  </insert>
  
  <insert id="userLikeReviewInsert" parameterType="java.util.HashMap">
  INSERT INTO userlikereview
  VALUES (#{userID},#{num})
  </insert>
  
  <delete id="userLikeReviewDelete" parameterType="java.util.HashMap">
 	DELETE FROM userlikereview
 	 WHERE userID = #{userID} and num = #{num} 
  </delete>
  
  <select id="userReviewLikeCheck" parameterType="String" resultType="java.util.HashMap">
   	SELECT num FROM userlikereview
   	WHERE userID = #{userID}
  </select>
 
  
  
  </mapper>