#loginBox {
	width: 550px;
	height: 600px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -300px 0 0 -300px;
	background: #fff;
}

#bg {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0; 
	background-color: rgba(0, 0, 0, .7);
	display: none;
}

.title {
	text-align: center;
	color: #03A9F4;
	padding-bottom: 20px;
}

#loginBox dt {
	text-indent: 10px;
	margin: 5px;
	font-size: 21px;
	color: #29B6F6;
}

#loginBox dd {
	margin: 5px 0 5px 0;
}

#myCarousel {
	margin: 60px 0;
}

.lBtn {
	width: 250px;
	cursor: pointer;
}

.port-image {
	width: 100%;
}

.gallery_product {
	margin-bottom: 30px;
}
.loginBtnBox{
	margin: auto;
	width: 250px;
}
