<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="dao.ILoginDao">
  <insert id="createUser" parameterType="java.util.HashMap">
  insert into user
  values(#{userID},#{nickName},#{password},now())
  </insert>
  <select id="login" parameterType="String" resultType="java.util.HashMap">
  select * from user
  where userID = #{userID}
  </select>
  </mapper>